.mystyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

body {
  margin: 0;
}

.link {
  background-color: #008b8b;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.everyLink {
  padding: 25px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.title {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  padding: 10px;
}

.page-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.log-in-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 25%;
  height: 100%;
  margin: auto;
}

.inputField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  background-color: #adff2f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.fixtures-title-name {
  font-family: cursive;
  font-size: 1.7rem;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
