.mystyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

body {
  margin: 0;
  background-color: #008b8b;
}

.pl-logo{

  height:30px;
  width:30px;
}

.link {
  background-color: #5F9EA0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.every-link {
  padding: 25px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.title {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  padding: 10px;
}

.page-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.log-in-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 25%;
  height: 100%;
  margin: auto;
}

@media screen and (max-width: 960px){
  .log-in-container{
    width: 35%;
  }
}

@media screen and (max-width: 700px){
  .log-in-container{
    width: 50%;
  }
}


.input-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  background-color: #adff2f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.search-field {
  margin: auto;
  height: 40px;
  width: 250px;
  padding:5px;
  border-radius:4px;
  font-size: large;
}

@media screen and (max-width: 250px) {
  .search-field{
    width: 100px;
  }
}

.card-container {
  margin-top:20px;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  flex-wrap:wrap;
}

@media screen and (max-width: 550px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.team-card{

  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  background-color: #adff2f;
}

@media screen and (max-width: 550px) {
  .team-card {
    padding: 0;
    width: 100%;
  }
}

.club-image{

  width:100%;
  height:75%;
}

.club-name{
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(255, 115, 0);
  padding-bottom: 90px;
}

@media screen and (max-width: 550px) {
  .club-name {
    padding: 0;
  }
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}


.slides .slick-prev:before,
.slides .slick-next:before {
  position: absolute;
  top: 50%;
  z-index:1;
  font-size: 50px;
  
}

.slides .slick-prev {
  left: 2%;
}


.slides .slick-next {
  bottom:20%;
  right: 5%;
}

.slider-container{

  height:100%;
  width:100px;

}

.slider-picture{

  height:550px;
  width:100%;
  padding: 0;
  margin:0;
}


.game-to-watch-text{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:50px;
  text-align:center;
}

@media only screen and (max-width:550px){
  .game-to-watch-text{
    font-size: 30px;
  }
}

.game-to-watch-container{

  display:flex;
  justify-content: space-around;
}

.game-to-watch-image1{

  height:200px;
  width:15%;
}

@media screen and (max-width: 550px) {
  .game-to-watch-image1{
    height:100px;
  }
}

.game-to-watch-image2{

  height:200px;
  width:15%;
}

@media screen and (max-width: 550px) {
  .game-to-watch-image2{
    height:100px;
  }
}

.game-to-watch-span{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:50px;
  align-self:center;
}

@media only screen and (max-width:550px){
  .game-to-watch-span{
    font-size: 30px;
  }
}

.game-to-watch-info{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:50px;
  text-align:center;
}

@media only screen and (max-width:550px){
  .game-to-watch-info{
    font-size: 30px;
  }
}

.footer-container{
  
  background-color:#5F9EA0;
}

.footer-logo{

  height:80px;
  width:100px;
  background-color:#5F9EA0;

}

.footer{

  display: flex;
  justify-content: space-around;
  padding:10px;
  background-color:#5F9EA0;
}

.copyright{

  text-align:center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white;
  font-size:30px;
  background-color:#5F9EA0;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

/*SVJEZE DODANI DIO ZA PAGINATION*/
.pagination{
  display: flex;
  border: black solid 1px;
  justify-content: center;
  background-color: aqua;
  margin-bottom: 5px;
  padding-left: 0px;
}
.pagination-item{
  background-color: #adff2f;
  color: white;
  border: black solid 1px;
  padding: 10px;
  margin: 5px 10px;
  font-size: larger;   
  cursor: pointer;
  border-radius: 5px;
}

.pagination-item:hover{
  border:1px solid #66FCF1; 
}

.blog-container{
  background-color:#008b8b;    
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 
}

.addBlog-button{
  border: 1px solid white; 
  background-color:#adff2f;
  color: white;
  padding: 10px 20px;
}
.addBlog-button:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.blog-post{
  background-color:rgba(0, 255, 200, 0.301);   
  margin:10px 20px;
  padding:10px;
  color:white;    
}

.blog-post h4{
  margin:0;
}

.blog-info{
  display: grid;
  justify-content: space-between;
  grid-gap: 10px;
}


/*Table css*/

table{

  width:80%;
  margin-bottom: 10px;
}

@media only screen and (max-width:600px){

  th,td{

    font-size: 10px;
    padding:5px;
    text-align:center;
  }
}

table,th,td{
  border:1px solid black;
  border-collapse:collapse;
}

th,td{

  font-size: 20px;
  padding:10px;
  text-align:center;
}


th{

  background-color: #5F9EA0;

}

tr:nth-child(even){
  background-color:#1E90FF;
}

tr:nth-child(odd){
  background-color:#00BFFF;
}

.player-card-container{
  display: flex;
  flex-direction: column;
 
}

.player-card{
display: grid;
grid-template-columns: 25% 25% 25% 25%;
padding-left: 10px;

border-bottom:1px solid whitesmoke;
padding-bottom:10px;
margin-bottom:10px;

}

.player-info{

  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  align-self:center;
}

@media only screen and (max-width:600px){
  .player-info{
    font-size:15px;
  }
}

.player-image{
  width: 100px;
  height: 100px;
}

@media only screen and (max-width:600px){
  .player-image{
    width: 70px;
    height: 70px;
  }
}

.player-table-information{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  font-size: 20px;
  padding-left: 10px;
}

@media only screen and (max-width:600px){
.player-table-information{
    font-size:15px;
    
  }
}